.page {
    background-image: url('https://images.squarespace-cdn.com/content/v1/67e5df849d53aa1dcc75ef03/62d97ead-717c-4bd9-8cd0-0000426423f8/DD_Website_Growth_v2_4.gif?format=1000w');
    background-size: cover;



    height: 100vh;
    padding: 0;
    margin: 0;
}